version: '3.8'

services:
  web:
    build: .
    expose:
      - "8000"

    volumes:
      - .:/app

  cron:

    build: .

    command: cron -f

    volumes:
      - .:/app
    environment:
      - TZ=Asia/Shanghai
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/ssl:/etc/nginx/ssl
    depends_on:
      - web
