version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:8000"

    volumes:
      - .:/app

  cron:

    build: .

    command: cron -f

    volumes:
      - .:/app
    environment:
      - TZ=Asia/Shanghai
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web