version: '3.8'

services:
  web:
    build: .
    expose:
      - "8000"

    volumes:
      - .:/app

    environment:
      - REDIS_HOST=redis_service
      - REDIS_PORT=6379

  cron:

    build: .

    command: cron -f

    volumes:
      - .:/app
    environment:
      - TZ=Asia/Shanghai
      - REDIS_HOST=redis_service
      - REDIS_PORT=6379
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/ssl:/etc/nginx/ssl
    depends_on:
      - web


  redis_service:
    image: redis:alpine
    command: redis-server --appendonly yes
